*{
  margin: 0px;
  padding: 0px;
}

.showhide {
    display: none;
}

ul {
    list-style-type: none;
}

input:focus, textarea:focus {
   outline: none;
}

#id-input-src {
    font-size: 16px;
}

.input-src {
    border-style:none;
    min-height: 100px;
    height: auto;
    outline: none;
}

.main{
  display: flex;
  justify-content: space-between;
  height: 1800px;
  overflow-y: auto;
}


.main-left-panel{
  width: 40%;
  height: calc(100% - 25px);
  background-color: rgb(245, 245, 245);
  padding-left: 10px;
  margin-top: 20px
}


.main-right-panel{
  background-color: #fff;
  width: 40%;
  height: calc(100% - 25px);
  /*padding: 10px;*/
  height: 1800px;
  border: 1px solid lightblue;
}

.editor-result {
  padding-left: 20px;
}


/* project-window */
.project-window {
    height: 1800px;
    width: 20%;
    background-color: #22252a;
    display: inline-block;
    color: #9ae5b3;
}

.project-window-ul {
    padding-left: 10px;
    padding-top: 10px;
}
.project-window-li:hover {
    /*background-color: #2d3139;*/
    cursor: pointer;
}

.active {
    background-color: #2d3139;
    color: red;
}


.dir {
    /*background-color: #87939a;*/
}

.file {

}

.expanded > li {
    margin-left: 15px;
}
